/* ----- Input ----- */
input{
    width: 100%;
    /* padding: 5px 10px; */
    padding: 10px 20px;
    font-weight: 400;
    font-style: italic;    
    border: 1px solid #c3c3c5;
}

input:focus{
    border-color: #78b8bc;
    /* background: rgba(0,169,157,0.05)!important; */
}

/* ----- Margin and Padding ----- */
.m-0{ margin: 0 !important; }
.p-0{ padding: 0 !important; }

/* ----- Placeholder ----- */
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #222;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #222;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #222;
}
:-moz-placeholder { /* Firefox 18- */
  color: #222;
}

::selection{
    background: none;
}

/* ------ Button ----- */
.btn-sonar{
    width: 100%;
    display: block;
    transition: .2s;
    text-align: center;
    border: 2px solid transparent;

    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;    
}

.btn-sonar i{
    margin-left: 10px;
}

.btn-sonar-transparent{
    color: #75b7ba;
    border: 2px solid #75b7ba;
}

.btn-sonar-transparent:hover{
    color: #fff;
    background: #75b7ba;
}

.btn-sonar-default{
    color: #fff;
    background: #75b7ba;
}

.btn-sonar-default:hover{
    background: transparent;
    border: 2px solid #75b7ba;
}

.btn-sonar-default-blue{
    color: #fff;
    background: #3c5bd8;
}

.btn-sonar-default-blue:hover{
    color: #3c5bd8;
    background: transparent;
    border: 2px solid #3c5bd8;
}

.btn-sonar-gray{
    color: #222;
    background: #e3e3e3;
}

.btn-sonar-gray:hover{
    color: #222;
    background: transparent;
    border: 2px solid #e3e3e3;
}

/* ----- Dropdown ----- */
.dropdown-sonar{
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 16px;
    font-style: italic;
    border: 1px solid #c3c3c5;
    box-shadow: inset 0px 0px 0px 1px transparent;
    font-family: Lato, Sans-serif;
}

.dropdown-sonar.active,
.dropdown-sonar.active:hover{
    color: #75b8bc;
    background: #00a99d0d !important;
    border: 2px solid #75b8bc !important;
    box-shadow: inset 0px 0px 0px 1px #75b8bc !important;
}

/*.open > .dropdown-sonar,*/
.dropdown-sonar:active,
.dropdown-sonar:hover,
.dropdown-sonar:focus,
.dropdown-sonar.focus{
    background-color: #fff;
    border-color: #c3c3c5;
}

.dropdown-sonar .caret{
    right: 5%;
    top: 50%;
    position: absolute;
    margin-top: -2px;
}

.dropdown-menu{
    width: 100%;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.dropdown-menu li a{
    font-size: 16px;
    font-style: italic;
    font-family: Lato, Sans-serif;
}

.dropdown-menu li a.active{
    color: #fff;
    background: #75b8bc;    
}

/* ----- Autocomplete ----- */
.typeahead.dropdown-menu li a:hover,
.typeahead.dropdown-menu li.active a{
    background-color: #3c5bd8;
}

/* ----- Modal ----- */
.modal-header .modal-title{
    color: #222;
    text-transform: uppercase;
    font: 700 21px Play, Sans-serif;
}

.modal-header .close{
    color: #222;
    opacity: 1;
    filter: alpha(opacity=100);
}

/* ----- ModalWithThreeItems----- */
.carousel-item-3 .carousel-inner .item.left.active {
  transform: translateX(-33%);
}

.carousel-item-3 .carousel-inner .item.right.active {
  transform: translateX(33%);
}

.carousel-item-3 .carousel-inner .item.next {
  transform: translateX(33%)
}

.carousel-item-3 .carousel-inner .item.prev {
  transform: translateX(-33%)
}

.carousel-item-3 .carousel-inner .item.right,
.carousel-item-3 .carousel-inner .item.left { 
  transform: translateX(0);
}

/* ----- Pagination ----- */
.box-pagination ul li a{
    color: #74b7ba;
    background: #fff;
    border-color: #74b7ba;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.box-pagination ul li a:hover,
.box-pagination ul li a.active,
.box-pagination ul li a.active:hover{
    color: #fff;
    background: #74b7ba;
    border-color: #74b7ba;
}
















