@media (max-width: 768px){

	/* ----- Carouse ----- */
	.carousel-indicators{
		bottom: 12%;
	}
	
	/* ----- Banner Home ----- */
	.full-banner .carousel-inner .item{
		background-position: center;
		background-size: cover;
		height: 500px;
	}

	.full-banner .carousel-inner .item > img{
		visibility: hidden;
	}

	.page-home .carousel-indicators{
		bottom: 4%;
	}

	/* ----- Search ----- */
	.full-banner .box-search{
		top: 15%;
		margin: 0;
	}

	.full-banner .box-search .dropdown{
		margin-bottom: 20px;
		border: 1px solid #c3c3c5;
	}

	.full-banner .box-search .form-search .btn-sonar{
		margin-top: 20px;
	}

	/* ------ List Properties ----- */
	/*.box-list-properties .box-items{
		flex-direction: column;
	}*/

	.box-list-properties .box-items .item{
		margin-bottom: 25px;
	}

	/* ----- Aside ----- */
	.box-aside{
		padding: 18px 12px;
		background: #f9f9f9;
		border-top: 5px solid #75b7ba;
	}

	.box-aside .box-item-aside .box-list-aside{
		display: flex;
		flex-wrap: wrap;
	}

	.box-aside .box-item-aside .box-list-aside li{
		margin: 0 10px 10px;
	}

	.box-aside .box-item-aside{
		 display: none; 
	}
	
	.box-aside .box-item-aside:nth-child(1),
	.box-aside .box-item-aside:nth-child(2),
	.box-aside .box-item-aside:nth-child(3){
		display: block;
	}

	.box-aside .box-buttons{
		text-align: right;
	}

	.box-aside .box-item-aside .box-slider .slider-horizontal{
		width: 100% !important;
		margin-bottom: 28px !important;
	}
	nav.navbar-default { padding: 0 10px; }
	nav.navbar-default .container .navbar-collapse { float: none; }
	nav .navbar-toggle { 
		background: #75b7ba;
		float: left; 
		margin: 10px;
	}
	nav.navbar-default .navbar-toggle .icon-bar {
		background-color: #FFF;
	}

	/* Location*/
	#location .container .row {
		flex-direction: column-reverse;
    	display: flex;
	}

	.carrers-jobs { display: none; }

	/* ----- Pagination ----- */
	.pagination li:first-child,
	.pagination li:last-child{
		display: none;
	}

	/* ----- Details ----- */
	.page-details .container{
		width: 100%;
	}

	.page-details .box-breadcrumb{
		display: none;
	}

	.page-details .box-shared{
		text-align: center !important;
	}

	.page-details .container-details > .row{
		display: flex;
		flex-direction: column-reverse;
	}

	.page-details .box-photos .carousel-indicators li{
		height: auto !important;
	}

	.page-details .box-maps iframe{
		width: 100%;
		height: 350px;		
	}

	/* ----- Footer -----*/
	footer .footer-inner h3{
		margin-top: 50px;
	}
}