@import url(helper.css);
@import url(responsive.css);

*, ol, ul{
    outline: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    height: 100%
}

h1, h2, h3, h4, h5 ,h6{
    margin: 0;
}

a{
    color: #222;
    text-decoration: none;
}

a:hover,
a:active,
a:focus{
    color: #00a99d;
    outline: none;
    text-decoration: none;
}

body{
    overflow: hidden;
    word-wrap: break-word;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    color: #222;
    background: #fff;
    overflow-wrap: break-word;
    text-align: left;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-family: Lato, Arial, Helvetica, Sans-serif;
}

/* ----- Header ----- */
header{
    height: 80px;
    padding: 10px 0;
    background: #fff;
}

header .logotipo > img{
    max-height: 55px;
}

header .box-contacts{
    display: flex;
    padding: 6px 0;
    align-items: center;
}

header .box-contacts .box-item{
    flex: 1;
}

header .box-contacts .box-item > span,
header .box-contacts .box-item a{
    display: flex;
    color: #4d4d4d;
    font-size: 14px;
    font-style: italic;
    align-items: center;
}

header .box-contacts .box-item a:hover{
    color: #3c5bd8;
}
header .box-contacts .box-item i{
    font-size: 30px;
    margin-right: 16px;
}

header .box-register{
    overflow: hidden;
    margin-top: -10px;
}

header .box-register > a{
    color: #fff;
    width: 100%;
    height: 35px;
    max-width: 130px;
    float: right;
    display: block;
    font-size: 13px;
    line-height: 35px;
    text-align: center;
    background: #62bbbc;
}

header .box-social{
    clear: both;
    display: flex;
    margin-top: 13px;
}

header .box-social li{
    flex: 1;
}

header .box-social a{
    float: right;
    color: #4d4d4d;
    font-size: 21px;
}

header .box-social a:hover{
    color: #3c5bd8;
}

/* ----- Nav ----- */
.box-nav{
    height: 77px;
}

.fixed-active{
    position: fixed !important;
    top: 0;
}

nav.navbar-default.fixed-active{
    width: 100%;
    box-shadow: 0 3px 3px rgba(50,50,50,.3);
}

nav.navbar-default { 
    background: #FFF;
    border: none;
    padding-bottom: 5px;
    padding-top: 10px;
    position: relative;
    z-index: 999;
}

nav.navbar-default .navbar-collapse {
    float: left;
    padding: 0;
}

nav.navbar-default .navbar-collapse li a {
    border-bottom: 3px solid transparent;
}

nav.navbar-default .navbar-collapse li.active a,
nav.navbar-default .navbar-collapse li:hover a,
nav.navbar-default .navbar-collapse li.active a:hover {
    background-color: transparent;
    border-color: #75b7ba;
}

nav.navbar-default .navbar-collapse li a {
    color: #75b7ba;
    font-weight: 400;
    font-family: Play;
    font-size: 16px;
    text-transform: uppercase;
}

.carrers-jobs {
    float: right;
}

.carrers-jobs li {
    float: left;
}

.carrers-jobs li a {
    color: #75b7ba;
    display: block;
    padding: 10px;
}

.carrers-jobs li.jobs {
    background: #75b7ba;
    border-radius: 5px;
}

.carrers-jobs li.jobs a {
    color: #FFF;
}

/* ----- Title Section ----- */
.box-title{
    margin: 30px auto;
}

.box-title .title{
    font-weight: 700;
    font-family: Play;
    text-align: center;
    text-transform: uppercase;
}

.box-title .title:after{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    margin: 18px auto;
    max-width: 90px;
    background: #75b7ba;
}

/* ----- Banner ----- */
.full-banner{
    position: relative;
}

/* ----- Carousel Bootstrap ----- */
.carousel-control.left,
.carousel-control.right{
    background: none;
}

.carousel-inner > .item > img{
    /* width: 50%; */
}

.carousel-indicators li{
    margin: 0;
    background: #c3c3c5;
}

.carousel-indicators li,
.carousel-indicators li.active{
    width: 14px;
    height: 14px;
    border: 2px solid #c3c3c5;
}

.carousel-indicators li.active{
    background: #75b7ba;
    border-color: #75b7ba;
}

/* ----- Search ----- */
.box-search{
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -45px;
}

.box-search .form-search{
    padding: 10px 0;
    background: rgba(255, 255, 255, .8);
}

.box-search .form-search .dropdown-sonar,
.box-search .form-search input[type=text],
.box-search .form-search .btn-sonar{
    height: 70px;
}

.box-search .form-search .dropdown-sonar.active,
.box-search .form-search input[type=text].active{
    color: #78b8bc;
    background: #fff !important;
    border-color: #78b8bc;
    border-width: 2px;
    box-shadow: inset 0px 0px 0px 1px #75b8bc;
}

.box-search .form-search .btn-sonar{
    line-height: 70px;
}

/* ------ List Properties ----- */
.box-list-properties > .container > .box-items{
    display: flex;
    flex-wrap: wrap;
}

.box-list-properties > .container > .box-items  > .item{
    flex: 1;
}

.box-list-properties > .container > .box-items .item article{
    float: left;
    min-width: 300px;
    margin: 0 5px 10px;
    position: relative;
    background: #f2f2f2;
}

.box-list-properties > .container > .box-items .item .content{
    padding: 13px 17px;
}

.box-list-properties > .container > .box-items .item .box-thumbnail{
    display: block;
    position: relative;
}

.box-list-properties > .container > .box-items .item .box-thumbnail a{
    display: block;
    background: #000;
}

.box-list-properties > .container > .box-items .item .box-thumbnail img{
    width: 100%;
    transition: .2s;
}

.box-list-properties > .container > .box-items .item .box-thumbnail a:hover img{
    opacity: .6;
    filter: alpha(opacity=60);
}

.box-list-properties .item .box-caption{
    top: 0;
    right: 0;
    z-index: 2;
    position: absolute;
}

.box-list-properties .item .box-caption > span{
    color: #fff;
    float: right;
    font-size: 14px;
    font-family: Play;
    font-weight: 700;
    padding: 3px 12px;
    margin: 12px 0 12px 6px;
    text-transform: uppercase;
}

.box-list-properties .item .content .name{
    margin-bottom: 5px;
    font: 700 24px Play, Sans-serif;
}

.box-list-properties .item .content .address{
    font-size: 14px;
    font-style: italic;
}

.box-list-properties .item .content .address .link-map{
    color: #75b7ba;
    margin-left: 10px;
    text-decoration: underline;
}

.box-list-properties .item .content .address .link-map:hover{
    text-decoration: none;
}

.box-list-properties .item .content .price{
    display: block;
    color: #75b7ba;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}

.box-list-properties .item .content .box-info li{
    float: left;
    font-size: 14px;
    margin: 0 10px 5px 0;
}

.box-list-properties .item .content .short-description{
    display: none;
}

.box-list-properties .item .content .box-options{
    clear: both;
    display: flex;
}

.box-list-properties .item .content .box-options > span{
    flex: 1;
}

.box-list-properties .item .content .box-options .btn-sonar{
    width: 121px;
    height: 32px;
    display: block;
    font-size: 14px;
    line-height: 28px;
    text-transform: uppercase;
}

.box-list-properties .item .content .box-options .date{
    font-size: 11px;
    padding: 5px;
}

.box-list-properties .item .content .box-options .compare{
    margin: 0 5px;
}

.box-list-properties .item .content .box-options .compare a{
    color: #222;
    border-color: transparent;
}

.box-list-properties .item .content .box-options .compare a:hover{
    background: rgba(158,158,158,0.20);
}

.box-list-properties .item .content .box-options .compare a.active,
.box-list-properties .item .content .box-options .compare a.active:hover{
    color: #fff;
    background: #74b7ba;
}

.box-list-properties .box-more{
    width: 100%;
    margin: 20px auto 50px;
}

.box-list-properties .box-more .btn-sonar{
    width: auto;
    margin: auto;
    display: table;
    padding: 10px 20px;
    text-transform: uppercase;
}

.box-list-properties.with-aside > .container{
    margin: 0;
    padding: 0;
    width: auto;
}

.box-list-properties.with-aside > .container > .box-items{
    flex-wrap: wrap;
}

.box-list-properties.with-aside > .container > .box-items > .item{
    flex: 1;
}

.box-list-properties.view-list > .container > .box-items{
    flex-direction: column;
}

.box-list-properties.view-list > .container > .box-items > .item,
.box-list-properties.view-list > .container > .box-items > .item article{
    width: 100%;
    max-width: 100%;
}

.box-list-properties.view-list > .container > .box-items > .item{
    margin: 10px 0;
    display: block;
}

.box-list-properties.view-list > .container > .box-items article{
    display: flex;
}

.box-list-properties.view-list > .container > .box-items .box-thumbnail{
    width: 40%
}

.box-list-properties.view-list > .container > .box-items .box-thumbnail .carousel-indicators{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-list-properties.view-list > .container > .box-items .box-thumbnail .carousel-indicators li{
    width: 6px;
    height: 6px;
    border: none;
    margin: 0 3px;
    background: #fff;
    opacity: .7;
    filter: alpha(opacity=70);
}

.box-list-properties.view-list > .container > .box-items .box-thumbnail .carousel-indicators li.active{
    padding: 5px;
    background: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
}

.box-list-properties.view-list > .container > .box-items .content{
    width: 60%;
}

.box-list-properties.view-list > .container > .box-items .content .short-description{
    display: block;
}

.box-list-properties.view-list > .container > .box-items .content .short-description p{
    font-size: 16px;
}

.box-list-properties.view-list > .container > .box-items .content .box-options .date{
    flex: 2;
}

/* ----- Mosaic ----- */
.box-mosaic{
    background: #222222;
}

.box-mosaic .box-title .title{
    color: #fff;
}

.box-mosaic-items{
    margin: 0 auto;
}

.box-mosaic-items .item{
    width: 100%;
    float: left;
    padding-bottom: 0;
    overflow: hidden;
    margin-bottom: 24px;
}

.box-mosaic-items .item .content > a{
    margin: 0;
    display: block;
    position: relative;
}

.box-mosaic-items .item .content > a:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 2;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.box-mosaic-items .item .content .image-mosaic{
    overflow: hidden;
    display: block;
    overflow: hidden;
    padding-bottom: 75%;
    position: relative;
}

.box-mosaic-items .item .content > a:hover img{
    transform: scale(1.2);
}

.box-mosaic-items .item .content .image-mosaic img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: none;
    min-height: 100%;
    transform: scale(1);
    -webkit-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: all 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.6s cubic-bezier(0.4,0,0.2,1);
}

.box-mosaic-items .item .content .caption{
    left: 0;
    top: 50%;
    right: 0;
    z-index: 3;
    width: 100%;
    position: absolute;
    margin-top: -14px;
}

.box-mosaic-items .item .content .caption .heading{
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    white-space: nowrap;
    text-transform: uppercase;
    text-overflow: ellipsis;
    font: 700 24px Play, Sans-serif;
}

/* ----- Mosaic Media Queries ----- */
@media (min-width: 768px){
    .box-mosaic-items{
        width: 740px;
    }

    .box-mosaic-items .item{
        width: 183px;
        margin-bottom: 12px;
    }

    .box-mosaic-items .item .content .image-mosaic img{
        top: -30%;
    }

    .box-mosaic-items .item:nth-child(2) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(11) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(20) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(29) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(38) .content .image-mosaic{
        padding-bottom: 26%;
    }

    .box-mosaic-items .item:nth-child(3) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(12) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(21) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(30) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(39) .content .image-mosaic{
        padding-bottom: 38%;
    }

    .box-mosaic-items .item:nth-child(4) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(13) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(22) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(31) .content .image-mosaic,
    .box-mosaic-items .item:nth-child(30) .content .image-mosaic{
        padding-bottom: 38%;
    }

    .box-mosaic-items .item:nth-child(2) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(11) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(20) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(29) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(38) .content .image-mosaic img{
        top: -100%;
    }

    .box-mosaic-items .item:nth-child(3) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(12) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(21) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(30) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(39) .content .image-mosaic img{
        top: -80%;
    }

    .box-mosaic-items .item:nth-child(4) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(13) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(22) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(31) .content .image-mosaic img,
    .box-mosaic-items .item:nth-child(40) .content .image-mosaic img{
        top: -80%;
    }

    .box-mosaic-items .item:nth-child(2),
    .box-mosaic-items .item:nth-child(11),
    .box-mosaic-items .item:nth-child(20),
    .box-mosaic-items .item:nth-child(29),
    .box-mosaic-items .item:nth-child(38){
        width: 555px;
    }

    .box-mosaic-items .item:nth-child(2) .content,
    .box-mosaic-items .item:nth-child(11) .content,
    .box-mosaic-items .item:nth-child(20) .content,
    .box-mosaic-items .item:nth-child(29) .content,
    .box-mosaic-items .item:nth-child(38) .content{
        margin-left: 12px;
    }

    .box-mosaic-items .item:nth-child(3),
    .box-mosaic-items .item:nth-child(12),
    .box-mosaic-items .item:nth-child(21),
    .box-mosaic-items .item:nth-child(30),
    .box-mosaic-items .item:nth-child(39){
        width: 50%;
    }

    .box-mosaic-items .item:nth-child(3) .content,
    .box-mosaic-items .item:nth-child(12) .content,
    .box-mosaic-items .item:nth-child(21) .content,
    .box-mosaic-items .item:nth-child(30) .content,
    .box-mosaic-items .item:nth-child(39) .content{
        margin-right: 6px;
    }

    .box-mosaic-items .item:nth-child(4),
    .box-mosaic-items .item:nth-child(13),
    .box-mosaic-items .item:nth-child(22),
    .box-mosaic-items .item:nth-child(31),
    .box-mosaic-items .item:nth-child(40){
        width: 50%;
    }

    .box-mosaic-items .item:nth-child(4) .content,
    .box-mosaic-items .item:nth-child(13) .content,
    .box-mosaic-items .item:nth-child(22) .content,
    .box-mosaic-items .item:nth-child(31) .content,
    .box-mosaic-items .item:nth-child(40) .content{
        margin-left: 6px;
    }
}

@media (min-width: 1024px){
    .box-mosaic-items{
        width: 960px;
    }

    .box-mosaic-items .item{
        width: 240px;
    }
}

@media (min-width: 1025px){
    .image-mosaic img:hover{
        transform: scale(1.2);
    }
}

@media (min-width: 1200px){
    .box-mosaic-items{
        width: 1140px;
    }

    .box-mosaic-items .item{
        width: 285px;
        height: 213px;
    }
}

@media (min-width: 1024px) and (min-width: 768px){
    .box-mosaic-items .item:nth-child(2),
    .box-mosaic-items .item:nth-child(11),
    .box-mosaic-items .item:nth-child(20),
    .box-mosaic-items .item:nth-child(29),
    .box-mosaic-items .item:nth-child(38){
        width: 720px;
    }
}

@media (min-width: 1200px) and (min-width: 768px){
    .box-mosaic-items .item:nth-child(2),
    .box-mosaic-items .item:nth-child(11),
    .box-mosaic-items .item:nth-child(20),
    .box-mosaic-items .item:nth-child(29),
    .box-mosaic-items .item:nth-child(38){
        width: 855px;
    }
}

/* ----- Depoiments ----- */
.box-depoiments{
    padding-bottom: 50px;
}

.box-depoiments article{
    max-width: 600px;
    margin: auto auto 25px;
}

.box-depoiments .description{
    text-align: center;
    font-size: 16px;
}

.box-depoiments .photo{
    text-align: center;
    margin-bottom: 25px;
}

.box-depoiments .photo img{
    width: 120px;
    height: 120px;
    display: inline;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.box-depoiments .info-author{
    text-align: center;
}

.box-depoiments .info-author .name-author{
    text-transform: uppercase;
    font: 700 21px Play, Sans-serif;
}

.box-depoiments .info-author .occupation{
    font-size: 13px;
}

.box-depoiments .carousel-indicators{
    bottom: -20px;
}

.box-depoiments .carousel-indicators li{

}

.box-depoiments .carousel-indicators li.active{
    background: #75b7ba;
}

/* ----- Submit Properties ----- */
.submit-properties{
    background: #f4f4f4;
}

.submit-properties .box-title{
    margin-top: 15%;
}

.submit-properties .box-content{
    width: 80%;
    margin: auto;
    text-align: center;
}

.submit-properties .box-content p{
    margin-bottom: 35px;
}

.submit-properties .box-content .btn-sonar{
    width: auto;
    display: table;
    padding: 10px 35px;
    margin: 20px auto 50px;
}

/* ----- Article ----- */
.box-list-article .short-description{
    margin-bottom: 12px;
}

.box-list-article .item .content .box-options{
    clear: both;
    display: block;
}

/* ----- Title Page ----- */
.box-title-page{
    color: #999;
    padding: 48px 18px;
    background: #f2f2f2;
    text-align: center;
}

.box-title-page h1{
    color: #231e2e;
    text-transform: uppercase;
    font: 700 32px Play, Sans-serif;
}

/* ----- Section Top ----- */
.section-top{
    background: #f9f9f9;
    margin-bottom: 20px;
    border-top: 1px solid #fff;
}

/* ----- Breadcrumb ----- */
.box-breadcrumb{
    overflow: hidden;
    padding: 15px 0;
}

.box-breadcrumb li{
    float: left;
}

.box-breadcrumb li > i{
    margin: 0 10px;
    font-size: 11px;
}

.box-breadcrumb li a{
    font-size: 13px;
    font-weight: 400;
}

.box-breadcrumb li strong{
    color: #999999;
    font-weight: 400;
}

/* ----- Details ----- */
.page-details .box-shared{
    text-align: right;
    margin-top: 6px;
}

.page-details .box-photos .item > img{
    width: 100%;
}

.page-details .box-photos .carousel-indicators{
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    margin: 10px 0;
    position: relative;
}

.page-details .box-photos .carousel-indicators li{
    flex: 1;
    height: 140px;
    border: none;
    overflow: hidden;
    border-radius: 0;
    background: none;
    margin-left: 10px;
}

.page-details .box-photos .carousel-indicators li:first-child{ margin: 0; }

.page-details .box-photos .carousel-indicators li img{
    width: 100%;
    display: block;
    opacity: .5;
}

.page-details .box-photos .carousel-indicators li:hover img{
    opacity: 1;
}

.page-details .box-photos .carousel-indicators li.active img{
    opacity: 1;
}

.page-details .box-details{
    margin-bottom: 30px;
    background: #f9f9f9;
    border: 1px solid #f2f2f2;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.page-details .box-details hr{
    margin: 0;
    border-color: #dcdcdc;
}

.page-details .box-details .box-content-details{
    padding: 16px;
}

.page-details .box-details .box-content-details.box-description{
    max-height: 300px;
    overflow: hidden;  
    position: relative;  
}

.page-details .box-details .box-content-details.box-description.active{
    max-height: 100%;
    padding-bottom: 30px;
}

.box-details .box-content-details.box-description.active .box-toggle{
    background: transparent;
}

.page-details .box-details .box-content-details.box-description .box-toggle{
    left: 0;
    bottom: 0;
    width: 100%;
    color: #337ab7;
    cursor: pointer;
    font-weight: 600;
    background: #fff;
    position: absolute;    
    padding: 30px 20px 15px;
    background: linear-gradient(to top, #fff 70%, rgba(255,255,255,0) 100%);
}

.page-details .box-details .box-content-details.box-description .box-toggle:hover{
    text-decoration: underline;
}

.page-details .box-details .box-content-details.box-price > span,
.page-details .box-details .box-content-details.box-price > strong,
.page-details .box-details .box-content-details.box-price > a{
    display: block;
}

.page-details .box-details .box-content-details.box-price > span{
    font-size: 16px;
    color: #808080;
}

.page-details .box-details .box-content-details.box-price > strong{
    font-size: 24px;
}

.page-details .box-details .box-content-details.box-price > a{
    color: #337ab7;
    font-size: 12px;
    margin-top: 10px;
    text-transform: uppercase
}

.page-details .box-details .box-content-details.box-price > a:hover{
    text-transform: uppercase;
    text-decoration: underline;
}

.page-details .box-details .box-content-details .title{
    color: #231e2e;
    font-size: 22px;
}

.page-details .box-details .box-content-details{
    color: #231e2e;
}

.page-details .box-details .box-content-details li,
.page-details .box-details .box-content-details p{
    font-size: 16px;
    font-weight: 100;
}

.page-details .box-details .box-content-details li{
    padding: 5px 0;
}

.page-details .box-details .box-content-details li .fa{
    font-size: 18px;
    min-width: 30px;
    text-align: center;
}

.page-details .box-details .box-content-details .list-specifications li:before{
    display: none;
}

.page-details .box-details .box-content-details li:before{
    left: 0;
    content: '\f00c';
    font-size: 14px;
    line-height: 20px;
    margin-right: 10px;    
    font-family: 'FontAwesome';
}

.page-details .box-details .box-content-details.box-main-specifications{
    display: flex;
    padding: 15px 10px;
}

.page-details .box-details .box-content-details.box-main-specifications li:before{
    display: none;  
}

.page-details .box-details .box-content-details.box-main-specifications li{
    flex: 1;
    font-size: 13px;
    text-align: center;
}

.page-details .box-details .box-content-details.box-main-specifications li i{
    font-size: 24px;
}

.page-details .box-details .box-content-details.box-main-specifications li > *{
    display: block;
}

.page-details .box-details .box-content-details.box-main-specifications li strong{
    font-size: 18px;
}

.page-details .box-maps{
    margin-bottom: 30px;
}

/* ----- Search ----- */
.content-search{
    margin-top: 25px;
}

.content-search .box-aside .box-item-aside{
    margin-bottom: 12px;
}

.content-search .box-aside .box-item-aside button,
.content-search .box-aside .box-item-aside input{
    text-align: center;
}

.content-search .box-aside .box-item-aside .title,
.content-search .box-aside .box-item-aside .box-list-aside{
    text-transform: uppercase;
}

.content-search .box-aside .box-item-aside .mdl-radio__label,
.content-search .box-aside .box-item-aside .box-list-aside .mdl-checkbox__label{
    color: #666;
    font-weight: 400;
    font-size: 13px;
}

.content-search .box-aside .box-item-aside .title{
    color: #222;
    text-align: center;
    margin-bottom: 12px;
    font: 700 14px Play, Sans-serif;
}

.content-search .box-aside .box-item-aside .title > span{

}

.content-search .box-aside .box-item-aside.box-list-aside li span{
    color: #666;
    font: 400 14px Lato, Sans-serif;
}

.content-search .box-aside .box-item-aside.box-offer-type .row > div:last-child:after{
    position: absolute;
    content: '';
    left: -3px;
    top: 23px;
    background: #666;
    height: 1px;
    width: 6px;
}

.content-search .box-aside .box-item-aside .box-slider{
    width: 90%;
    margin: auto;
}

.content-search .box-aside .box-item-aside .box-slider .slider-horizontal{
    width: 237px;
}

.content-search .box-aside .box-buttons{
    display: block;
    margin: 20px 0;
}

.content-search .box-aside .box-buttons .btn-sonar{
    display: initial;
    padding: 6px 20px;
    text-transform: uppercase;
}

.content-search .box-aside .box-buttons .btn-sonar.btn-hide{
    display: none;
}

.content-search .box-filters{
    color: #222;
    display: block;
    padding: 0 12px;
    background: #f2f2f2;
    margin-bottom: 12px;
}

.content-search .filters-left{
    float: left;
    font-weight: 700;
}

.content-search .filters-left .filters-sort{
    float: left;
    font-size: 13px;
    font-weight: 400;
    line-height: 36px;
    margin-right: 12px;
    display: inline-block;
}

.content-search .filters-left .filters-buttons{
    float: left;
    display: inline-block;
}

.content-search .filters-left .filters-buttons button{
    color: #222;
    padding: 2px 7px;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    border-radius: 0px;
    margin: 3px 9px 3px 0;
    background: transparent;
    text-transform: uppercase;
    border: 1px solid transparent;
}

.content-search .filters-left .filters-buttons button:hover,
.content-search .filters-left .filters-buttons button.active,
.content-search .filters-right button.active .fa{
    color: #75b8bc;
}

.content-search .filters-right{
    float: right;
    display: block;
    text-align: right;
}

.content-search .filters-right button{
    border: 0;
    color: #999;
    height: 36px;
    outline: 0px;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    line-height: 36px;
    padding: 2px 0 0 0;
    margin-right: 12px;
    background: transparent;
}

.content-search .box-total-result{
    padding: 0 12px;
    margin-bottom: 12px;
}

.content-search .box-total-result strong{
    color: #666;
    font: 700 21px Play, Sans-serif;
}

.pagination-bottom{
    display: flex;
    justify-content: center;
}

/* ----- BarCompare ----- */
.box-compare,
.container-list-compare{
    display: none;
}

.box-compare{
    bottom: 0;
    width: 100%;
    z-index: 9999;
    padding: 22px 0;
    position: fixed;
    background: #fff;
    border-top: 4px solid #75b8bc;
}

.box-compare.open{
    top: 0;
    overflow-y: scroll;
}

.box-compare .box-carousel-control{
    display: none;
}

.box-compare .box-carousel-control > span{
    float: left;
    width: 20px;
    height: 20px;
    margin: 0 3px;
    display: block;
    cursor: pointer;
}

.box-compare .box-carousel-control > span.disabled{
    cursor: initial;
    opacity: .5;
}

.box-compare .owl-nav,
.box-compare .owl-dots{
    display: none;
}

.box-compare.open .container-list-compare{
    display: block;
    margin-top: 20px;
}

.box-compare .box-buttons li{
    float: left;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.box-compare .box-buttons li strong{
    margin: 0 10px 0 3px;
}

.box-compare .box-buttons li a{
    padding: 0 20px;
}

.box-compare .box-buttons li .active{
    color: #75b8bc;
}

/* ----- ModalMaps ----- */
.modal-maps-sonar .modal-dialog{
    width: 100%;
    max-width: 1220px;
}

.modal-maps-sonar .modal-body{
    padding: 0;
    background: #f5f6f7;
}

.modal-maps-sonar .modal-content{
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

.modal-maps-sonar .modal-header{
    padding: 10px 15px;
    background: #3b4144;
}

.modal-maps-sonar .modal-header .box-logo{
    float: left;
}

.modal-maps-sonar .modal-header .box-logo img{
    max-width: 90px;
    margin-right: 10px;
}

.modal-maps-sonar .modal-header ul{
    float: left;
    margin-top: 15px;
}

.modal-maps-sonar .modal-header ul li{
    color: #fff;
    float: left;
    height: 17px;
    line-height: 15px;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 2px solid #fff;
}

.modal-maps-sonar .modal-header .close{
    color: #fff;
    font-size: 36px;
    text-shadow: none;
}

.modal-maps-sonar .box-local-tabs{
    display: flex;
    margin: 15px;
    align-items: center;
}

.modal-maps-sonar .box-local-tabs li{
    flex: 1;
}

.modal-maps-sonar .box-local-tabs li a{
    display: block;
    text-align: center;
    transition: 2s;
    padding: 5px 0;
    margin-left: -1px;
    border: 1px solid #c3c3c5;
}

.modal-maps-sonar .box-local-tabs li a:hover{
    color: #666;
    background: #f5f6f7;
}

.modal-maps-sonar .box-local-tabs li a.active{
    border-color: #75b8bc;
    color: #75b8bc;
}

.modal-maps-sonar .box-maps{
    width: 68%;
    float: left;
}

.modal-maps-sonar .box-details{
    width: 30%;
    float: right;
}

.modal-maps-sonar .box-details .title{
    margin-bottom: 15px;
}

.modal-maps-sonar .box-details .carousel .item > a{
    float: left;
    height: 52px;
    margin: 10px 8px;
    min-width: 104px;
    max-width: 104px;
    color: #879099;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 4px;
    -webkit-box-shadow: 0 2px 4px rgba(51, 51, 51, 0.4);
    box-shadow: 0 2px 4px rgba(51, 51, 51, 0.4);
}

.modal-maps-sonar .box-details .carousel .item i{
    display: block;
}

.modal-maps-sonar .box-details .carousel .item > .active{
    color: #222;
}

.modal-maps-sonar .carousel-control.left,
.modal-maps-sonar .carousel-control.right{
    top: 23%;
    width: 20px;
    height: 30px;
    color: #fff;
    opacity: 1;
    font-size: 14px;
    text-shadow: none;
    background: #879099
}

.modal-maps-sonar .carousel-control.left .glyphicon,
.modal-maps-sonar .carousel-control.right .glyphicon{
    font-size: 12px;
    margin-top: -5px;
}

.modal-maps-sonar .carousel-control.left .glyphicon{
    left: 30%;
}

.modal-maps-sonar .carousel-control.right .glyphicon{
    right: 30%;
}

.modal-maps-sonar .sub-title i{
    color: #fff;
    padding: 10px;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    line-height: 20px;
    font-size: 17px;
    text-align: center;
    background: #e6001d;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.modal-maps-sonar .sub-title{
    color: #869099;
    font-size: 15px;
    text-transform: uppercase;
}

.modal-maps-sonar .list-benefits{
    overflow-y: auto;
    margin-top: 15px;
    max-height: 350px;
}

.modal-maps-sonar .list-benefits li{
    color: #3b4144;
    padding: 5px 0;
    font-size: 15px;
    border-top: 1px solid #e8e9ea;
}

/* ----- Institucional ----- */
.page-about .box-title.about {
    background: url(../img/sonar_about.jpg) no-repeat center center;
    background-size: cover;
    margin: 0;
    height: 250px;
    width: 100%;
}
.page-about .container {
    height: 100%;
}
.page-about .box-title.about .title {
    position: relative;
    text-align: left;
    top: 50%;
    font-size: 32px;
}
.page-about .box-title.about .title:after {
    margin: 0;
}
.page-about .list-media li {
    float: left;
    margin-right: 10px;
}
.page-about .list-media a {
    color: #00a99d;
    font-family: Play;
    font-size: 15px;
}
.page-about .list-media a:hover { color: #75b7ba; }
.page-about .list-social { 
    clear: both; 
    margin-top: 10px;
}
.page-about .list-social li {
    float: left;
    margin-right: 20px;
}
.page-about .list-social li a {
    font-size: 0;    
}
.page-about .list-social li a:before {
    font-size: 20px;
    color: #ccc;
    font-family: "FontAwesome";
}
.page-about .list-social li a:hover:before { color: #00a99d; }
.page-about .list-social li a.ico-twitter:before { content: "\f099"; }
.page-about .list-social li a.ico-facebook:before { content: "\f09a"; }
.page-about .list-social li a.ico-linkedin:before { content: "\f0e1"; }
.page-about .list-social li a.ico-pinterest:before { content: "\f231"; }
.page-about .list-social li a.ico-plus:before { content: "\f0d5"; }

/* ----- Leader ----- */
#leadership { 
    background:#f2f2f2; 
}

.leader-list li {
    cursor: pointer;
    margin-bottom: 30px;
}

.leader-list li img{
    width: 100%;
}

.leader-list li .content-info-leader h4 {
    font-family: Play;
    color: #00a99d;
}

.leader-list li:hover .content-info-leader .carrer-office h4 {
    color: #75b7ba;
}

.leader-list li .content-info-leader {
    background: #FFF;
    padding: 0 30px;
}

.leader-list .carrer-office span {
    font-size: 15px;
}

.page-about #ModalLeader .modal-body { 
    max-height: 500px;
    overflow-y: auto;
}

#ModalLeader .modal-header { border: none; }

#ModalLeader .leader-list li { 
    border: none;
    float: none; 
}

#ModalLeader .leader-list li img {
    width: 50%;
    margin: 0 auto;
}

#ModalLeader .carousel-control > span{
    top: auto;
    margin-top: 200px;
}

#location{
    padding: 30px 0;
}

/* ---- Compare ----- */
.box-list-compare .item{
    max-width: 370px;
    min-width: auto;
    margin: 0 5px;
}

.box-list-compare .item .box-thumbnail .btn-remove{
    top: 9px;
    border: 0;
    right: 9px;
    width: 30px;
    height: 30px;
    cursor: pointer;  
    position: absolute; 
    text-indent: -99999px;
    background-size: 30px 30px;
    background: url(../img/close.png);
}

.box-list-compare .item .content .name{
    display: block;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

.box-list-compare .item .content .address{
    color: #808080;
    font-size: 16px;
    padding: 0 30px;
    margin: 10px 0;
    text-align: center;
    line-height: 25px;
}

.box-list-compare .item .content .box-price{
    display: block;
    overflow: hidden;
    line-height: 41px;
    text-align: center;
    background: #75b7ba;
    margin-bottom: 12px;
}

.box-list-compare .item .content .box-price span{
    margin: 0;
    color: #fff;
}

.box-list-compare .item .content .box-info li{
    float: none;
    font-size: 16px;
    line-height: 24px;
    text-transform: none;
}

.box-list-compare .item .content .short-description{
    display: block;
    margin-top: 24px;
}

.box-list-compare .item .content .short-description > strong{
    text-align: center;
    display: block;    
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}

.box-list-compare .item .content .short-description > strong a{
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: Play, Sans-serif;
}

.box-list-compare .item .content .short-description > strong a:hover{
    color: inherit;
}

.box-list-compare .item .content .short-description > p{
    font-size: 16px;
}

.box-list-compare .item .content .box-options,
.box-list-compare .item .content .box-options > span{
    display: block;
}

.box-list-compare .item .content .box-options .date{
    color: #4d4d4d;
    font-size: 16px;
    text-align: right;
    font-style: italic;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.box-list-compare .item .content .box-options .details .btn-sonar{
    margin: 15px auto 5px;
}

/* ----- Footer ----- */
footer .footer-inner{
    background: #333333;
    padding: 45px 0;
}

footer .footer-inner,
footer .footer-inner a{
    color: #fff;
}

footer .footer-inner .box-logotipo img{
    width: 130px;
    height: 54px;
}

footer .footer-inner .about{
    color: #fff;
    font-size: 13px;
    margin: 30px 0 18px;
    line-height: 1.5;
}

footer .footer-inner .footer-contact{
    margin-bottom: 15px;
}

footer .footer-inner .footer-contact a,
footer .footer-inner .footer-contact a{
    font-size: 13px;
}

footer .footer-inner .footer-contact a:hover,
footer .footer-inner .footer-contact a:hover{
    color: #3c5bd8;
}

footer .footer-inner .footer-contact i{
    font-size: 20px;
    margin-right: 20px;
}

footer .footer-inner h3{
    margin-bottom: 20px;
    text-transform: uppercase;
    font: 700 16px Play, Sans-serif;
}

footer .footer-inner ul li{
    border-top: 1px solid #4d4d4d;
}

footer .footer-inner ul li:first-child{
    border: none;
}

footer .footer-inner ul li a{
    display: block;
    font-size: 13px;
    padding: 11px 30px 13px 0;
}

footer .footer-inner ul li a:hover{
    color: #3c5bd8;
}

footer .footer-inner .tagcloud a{
    color: #fff;
    padding: 5px 12px;
    position: relative;
    margin: 2px 8px 8px 3px;
    display: inline-block;
    border: 1px solid #999;
    background: transparent;
    text-transform: uppercase;
    font-size: 11px !important;
    border-color: #666;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

footer .footer-inner .tagcloud a:hover{
    color: #fff;
    background: #3c5bd8;
    border-color: #3c5bd8;
}

footer .footer-inner .box-social a{
    background-color: #fff;
    display: inline-block;
    position: relative;
    text-align: center;
    color: #222 !important;
    height: 48px;
    width: 48px;
    font-size: 16px;
    line-height: 48px;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    margin-bottom: 12px;
    margin-right: 12px;
    border-radius: 50%;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
}

footer .footer-inner .box-social a:hover{
    background: #3c5bd8;
}

footer .footer-inner .box-social a:hover .fa{
    color: #fff;
}

footer .footer-inner .box-social a:after{
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 48px;
    width: 48px;
    content: '';
    border: 1px solid #222;
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -ms-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    border-radius: 50%;
}

footer .footer-inner .box-social a:hover:after{
    opacity: 1;
    border: 1px solid #3c5bd8;

    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
}

footer .footer-bottom{
    padding: 15px 0;
    background: #222222;
}

footer .footer-bottom .box-copyright{
    float: right;
}

footer .footer-bottom .box-copyright p{
    margin: 0;
    font-size: 13px;
}

footer .footer-bottom .box-copyright p{
    color: #fff;
    text-align: right;
}
